body {
    background-color: #545e4e;
    font-family: Arial, sans-serif;
}

h1 {
    color: white;

}

p {
    color: #555;
}

h2 {
    font-size: 30px;
    color: wheat;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    font-family: Arial, sans-serif;
}

/* Esconde o submenu */
.submenu {
    display: none;
    margin-top: 5px;
    flex-direction: column;
    width: 80px;
}

/* Mostra quando passa o mouse na div toda */
.menu:hover .submenu {
    display: flex;
}

/* Estilo dos botões */
button {
    padding: 8px 10px;
    margin: 3px 0;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 11px;
    text-align: center;
}

.botao-principal {
    background-color: darkgreen;
}